/* formatting the video element (for accessing the webcam) */
#videoElement {
	width: 64px;
	height: 64px;
	background-color: #666;
}

/* Container that holds the shell of the section */
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
	/* border: 10px blue solid; */
}
/* row comes first, bootstrap framework inspired */
.row{
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items: center;
	/* border: 10px red solid; */
}
/* col comes after row (inntermost, bootstrap framework inspired */
.col{
	display: flex;
	flex-flow: column wrap;
	justify-content:center;
	align-items: center;
	/* border: 10px green solid; */
}


body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f2f2f2;
    color: #444444;
  }

.video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#video, #canvas {
	margin: 0 auto;
}

.video-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
  }
  
  .video-container video {
	display: block;
	margin: 0 auto;
	width: 100%;
  }
  
  .video-container canvas {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
  }
